.object{
    width: 300px;
    height: 300px;
    opacity: 0;
    display: none;
    background: white;
    border-radius: 5%;
    border-color: #d3d3d3;
    border-width: thin;
    /* transform: scaleY(0.8) skewX(10deg); */
    /* transform-origin: 50% 0%;
    transition-duration: 0.25s; */
  }
  .button:hover + .object {
    /* opacity: 1; */
    display: block;
    transform: scaleY(1) skewX(0deg);
  }  
  .hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
    z-index: 10;
}